#KbdState > QLabel {
    margin: 3px;
    padding-top: 2px;
    border-top: 3px solid transparent;
    color: rgba(54, 54, 54, 60%);
}

#KbdState QLabel:enabled {
    border-top: 3px solid rgba(30, 145, 255, 100%);
    color: rgba(54, 54, 54, 100%);
}

#KbdState:disabled {
    background: transparent;
    color: rgba(54, 54, 54, 60%);
}